<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/head") %>

  <body>
    <%- include("layouts/nav") %>

    <!-- Main -->
    <main>
      <section>
        <% if (carsData.length > 0) { %>
        <h2 class="heading">All cars on rent</h2>
        <div class="car-cards">
          <% for(var i=0; i < carsData.length; i++) { %>
          <div class="car-card">
            <img
              src="assets/car-images/<%= carsData[i].image ? carsData[i].image : 'no-image.jpg' %>"
              alt="Car Image"
            />
            <div class="car-details">
              <h2>
                <%= carsData[i].car_make_name %> <%= carsData[i].car_model_name
                %>
              </h2>
              <ul>
                <li class="icons icon_1">
                  <img src="assets/icons/color_icon.png" />
                  <p><%= carsData[i].color %></p>
                </li>
                <li class="icons icon_2">
                  <img src="assets/icons/engine_icon.png" />
                  <p><%= carsData[i].year %></p>
                </li>
                <li class="icons icon_3">
                  <img src="assets/icons/gas_icon.png" />
                  <p><%= carsData[i].fuel_type %></p>
                </li>
                <li class="icons icon_4">
                  <img src="assets/icons/mileage_icon.png" />
                  <p><%= carsData[i].mileage %> kms</p>
                </li>
                <li class="icons icon_5">
                  <img src="assets/icons/seats_icon.png" />
                  <p><%= carsData[i].seats %></p>
                </li>
              </ul>
              <hr />
              <div class="card-bottom d-flex justify-content-between mt-4">
                <h2>$<%= carsData[i].rental_rate %>/day</h2>
                <form action="/getCarDetails" method="post">
                  <button
                    type="submit"
                    id="carEditButton"
                    name="carId"
                    value="<%= carsData[i]._id %>"
                    class="btn"
                  >
                    Edit details
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } else { %>
        <div class="no-data text-center">
          <img
            src="assets/car-images/no-data.svg"
            alt="No Data"
            class="img-fluid"
            style="max-width: 500px"
          />
        </div>
        <% } %>
      </section>
    </main>

    <!-- Footer-->
    <%- include("layouts/footer") %>

    <!-- Scripts -->
    <%- include("layouts/script") %>
  </body>
</html>
